<!DOCTYPE html>
<html lang="sr">
    <head>
        <title>Zemljopis</title>
        <meta charset="UTF-8">
        <meta name="description" content="Zemljopis / Nacionalna geografija igra">
        <meta name="keywords" content="Zemljopis , Nacionalna geografija , Zemljopis online , Nacionalna geografija online , igra, o meni.">
        <meta name="author" content="Aleksa Crveni">
    </head>
    <body>
        <h1>O meni</h1>
        <p>Ja sam Aleksa Crveni, uglavnom pravim c# desktop aplikacije sa bazom podataka (CRUD), takođe volim da radim backend, ovo je moj prvi backend projekat. U ovom slučaju sam zašao i u Javu da bih napravio mobilnu verziju klijenta za Android.</p>
        <p><a href="https://github.com/WickedyWick">Github</a></p>
    </body>
</html>